{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="flex menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset twcss-h-[4.4rem] twcss-w-[4.4rem] twcss-p-0"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="twcss-h-full twcss-flex twcss-items-center twcss-justify-center">
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="twcss-h-screen twcss-absolute twcss--translate-x-full twcss-invisible twcss-z-[3] twcss-left-0 twcss-top-full twcss-w-full twcss-p-0 gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container twcss-relative twcss-h-full">
        <div class="menu-drawer__navigation-container twcss-grid twcss-content-between twcss-overflow-y-auto twcss-h-full">
          <nav class="menu-drawer__navigation twcss-pt-12 twcss-pb-12">
            <ul class="menu-drawer__menu has-submenu list-menu twcss-list-none twcss-p-0 twcss-m-0" role="list">
              {%- for link in section.settings.menu.links -%}
                <li class="twcss-mb-1">
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="twcss-no-underline twcss-pr-[5.2rem] twcss-pl-[3.2rem] twcss-pt-[1.1rem] twcss-pb-[1.1rem] twcss-text-[1.8rem] menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="twcss-inline-flex twcss-justify-center twcss-items-center twcss-h-[20px] twcss-w-[15px] twcss-absolute twcss-right-12 twcss-top-1/2 twcss--translate-y-1/2 svg-wrapper">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="twcss-block twcss-align-middle twcss-w-full twcss-h-full icon icon-arrow" viewBox="0 0 14 10"><path fill="currentColor" fill-rule="evenodd" d="M8.537.808a.5.5 0 0 1 .817-.162l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 1 1-.708-.708L11.793 5.5H1a.5.5 0 0 1 0-1h10.793L8.646 1.354a.5.5 0 0 1-.109-.546" clip-rule="evenodd"/></svg>
                        </span>
                        <span class="twcss-inline-flex twcss-justify-center twcss-items-center twcss-h-[20px] twcss-w-[15px] twcss-absolute twcss-right-12 twcss-top-1/2 twcss--translate-y-1/2 svg-wrapper">
                          <svg class="twcss-align-middle twcss-absolute twcss-h-[0.6rem] twcss-right-[1.5rem] twcss-top-[calc(50%-0.2rem)] icon icon-caret" viewBox="0 0 10 6"><path fill="currentColor" fill-rule="evenodd" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708" clip-rule="evenodd"/></svg>
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="twcss-absolute twcss-top-0 twcss-bottom-0 twcss-left-0 twcss-w-full twcss-z-[1] menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu twcss-h-full twcss-overflow-x-hidden twcss-overflow-y-auto">
                          <button class="menu-drawer__close-button link link--text focus-inset twcss-text-foreground twcss-mt-6 twcss-px-[2.6rem] twcss-py-[1.2rem] twcss-pl-[3rem] twcss-text-[1.4rem] twcss-w-full twcss-bg-transparent twcss-flex twcss-items-center twcss-text-left" aria-expanded="true">
                            <span class="twcss-w-[15px] twcss-h-[20px] twcss-inline-flex twcss-justify-center twcss-items-center twcss-rotate-180 twcss-mr-4 svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu twcss-list-none twcss-m-0 twcss-p-0" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="twcss-text-[16px] twcss-pt-[1.1rem] twcss-pb-[1.1rem] twcss-pl-[3.2rem] twcss-pr-[3.2rem] twcss-no-underline twcss-flex twcss-items-center menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="twcss-text-[16px] twcss-pt-[1.1rem] twcss-pb-[1.1rem] twcss-pl-[3.2rem] twcss-pr-[3.2rem] twcss-no-underline twcss-flex twcss-items-center menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper twcss-inline-flex twcss-justify-center twcss-items-center twcss-w-5 twcss-h-5">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                      <span class="svg-wrapper twcss-inline-flex twcss-justify-center twcss-items-center twcss-w-5 twcss-h-5">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce twcss-absolute twcss-top-0 twcss-bottom-0 twcss-left-0 twcss-w-full twcss-z-[1]"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset twcss-text-foreground twcss-mt-6 twcss-px-[2.6rem] twcss-py-[1.2rem] twcss-pl-[3rem] twcss-text-[1.4rem] twcss-w-full twcss-bg-transparent twcss-flex twcss-items-center twcss-text-left"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper twcss-w-[15px] twcss-h-[20px] twcss-inline-flex twcss-rotate-180 twcss-mr-4 twcss-justify-center twcss-items-center twcss-w-5 twcss-h-5">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu twcss-list-none twcss-m-0 twcss-p-0"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="twcss-text-[16px] twcss-pt-[1.1rem] twcss-pb-[1.1rem] twcss-pl-[3.2rem] twcss-pr-[3.2rem] twcss-no-underline twcss-flex twcss-items-center menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="twcss-flex twcss-items-center twcss-no-underline twcss-pr-[3.2rem] twcss-pl-[3.2rem] twcss-pt-[1.1rem] twcss-pb-[1.1rem] twcss-text-[1.8rem] menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account twcss-inline-flex twcss-items-center twcss-no-underline twcss-text-[1.4rem]  twcss-mb-0 twcss-pr-[3.2rem] twcss-pl-[3.2rem] twcss-pt-[1rem] twcss-pb-[1rem] link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization twcss-pr-[3.2rem] twcss-pl-[3.2rem]">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>

<style>

</style>